.breadcrumbs-block {
  padding-top: 5.4rem;
  padding-bottom: 9rem;

  @include mq(sm) {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

.breadcrumbs {
  --color: var(--color-dark-alpha15);

  &__item {
    display: inline;

    font: var(--font-t5);

    &:not(:last-child)::after {
      content: ' ·';

      color: var(--color);
    }

    &:last-of-type {
      pointer-events: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color);
    }
  }
}
