- const siteVersion = "0.1.2.1"
- const siteName = "Azurite Logistics"
- const siteDescr = "We offer tailored solutions and services for trading companies requiring the transport of metals, raw materials and high-volume products worldwide."
