main.page-main.main
  section.error-page
    .site-container.error-page__container
      .error-page__label
        | 404
      h1.error-page__heading
        | The page you’re looking for doesn’t exist.
      +link("To main")(class="ui-button--black error-page__btn" href="/")

