section.services-list
  .site-container
    h2.ui-intro-heading.services-list__heading.js-reveal-block Services
    ul.services-list__list
      li.services-list__item
        +service-item({
          image: 'assets/images/services/1.jpg',
          alt: 'Image',
          title: 'Rail and road haulage',
          text: 'Experience and strong rail network: the rail haulage is the core of our business',
          link: '#'
        })
      li.services-list__item
        +service-item({
          image: 'assets/images/services/2.jpg',
          alt: 'Image',
          title: 'Ocean freight',
          text: 'Experience and strong rail network: the rail haulage is the core of our business',
          link: '#'
        })
      li.services-list__item
        +service-item({
          image: 'assets/images/services/3.jpg',
          alt: 'Image',
          title: 'Trade Facilitation And Custom Brokerage',
          text: 'Experience and strong rail network: the rail haulage is the core of our business',
          link: '#'
        })
      li.services-list__item
        +service-item({
          image: 'assets/images/services/4.jpg',
          alt: 'Image',
          title: 'Air Freight',
          text: 'Experience and strong rail network: the rail haulage is the core of our business',
          link: '#'
        })
      li.services-list__item
        +service-item({
          image: 'assets/images/services/5.jpg',
          alt: 'Image',
          title: 'Warehouse Solutions',
          text: 'Experience and strong rail network: the rail haulage is the core of our business',
          link: '#'
        })
