section.section.js-reveal-block
  .site-container
    .clients
      h2.clients__heading Our clients
      .swiper.clients__slider
        .swiper-wrapper
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo1.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo2.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo3.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo1.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo2.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo3.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo1.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo2.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo3.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo1.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo2.png")
          img.swiper-slide.clients__slider-item(src="assets/images/clients/logo3.png")
