section.section.industries
  .site-container
    h2.ui-main-heading.industries__heading.js-reveal-block INDUSTRIES
    ul.industries__container
      li.industries__card.js-reveal-block
        +imgLazy("assets/images/ind.jpg")(class="industries__card-img")
        h4.industries__card-label
          a(href="/") INDUSTRIAL
      li.industries__card.js-reveal-block
        +imgLazy("assets/images/auto.jpg")(class="industries__card-img")
        h4.industries__card-label
          a(href="/") AUTOMOTIVE
      li.industries__card.js-reveal-block
        +imgLazy("assets/images/tech.jpg")(class="industries__card-img")
        h4.industries__card-label
          a(href="/") TECHNOLOGY
      li.industries__card.js-reveal-block
        +imgLazy("assets/images/cons.jpg")(class="industries__card-img")
        h4.industries__card-label
          a(href="/") CONSUMER & RETAIL
