section.intro.section(data-vid-url="assets/images/vid2.mp4")
  video(class="intro__vid" src="assets/images/vid.mp4" autoplay loop muted playsinline)

  .site-container.intro__container
    h1.visually-hidden Azurite Logistics
    img(class="intro__img-logo" src="assets/images/intro_logo.svg")
    p.intro__text
      | We offer tailored solutions and services for trading companies requiring the transport of metals, raw materials and high-volume products worldwide.
    +button("Submit request")(class="intro__btn" data-path="modal")
