footer.footer
  //img(class="footer__img" src="assets/images/container.png")
  .footer__container.js-reveal-block
    img.footer__logo(src="assets/images/footer_logo.svg" alt="Company Logo")
    .footer__content
      .footer__content-block
        p.footer__content-text
          | Our offices around the world - find the right one for you
      .footer__content-block
        ul.footer__list
          li.footer__item
              span.footer__item-label Urumqi
              address.footer__item-text
                | Room e & F, 18/F Block D. Times Square, 16 hongshan road, urumqi, xinjiang, china 838992
                br
                a(href="tel:+86 5598 702") +86 5598 702
                br
                a(href="mailto:office@advaita.trade") office@advaita.trade
          li.footer__item
            span.footer__item-label Kazakhstan
            address.footer__item-text
              | 1ST FLOOR, REPUBLIC SQUARE 15, ALMATY, 050013, KAZAKHSTAN
              br
              a(href="tel:+7 727 344 3071") +7 727 344 3071
              br
              a(href="mailto:office@advaita.trade") office@advaita.trade
          li.footer__item
            span.footer__item-label Hong Kong
            address.footer__item-text
              | Unit 4706, Central Plaza, Wanchai, Hong Kong
              br
              a(href="tel:+825 2689 9200") +825 2689 9200
              br
              a(href="mailto:office@advaita.trade") office@advaita.trade
          li.footer__item
            span.footer__item-label Singapore
            address.footer__item-text
              | 65 Chulia Street, OCBC Centre #42–06, Singapore 049513
              br
              a(href="tel:+65 6438 8995") +65 6438 8995
              br
              a(href="mailto:office@advaita.trade") office@advaita.trade
          li.footer__item.footer__item--fake
          li.footer__item
            span.footer__item-label Dubai
            address.footer__item-text
              | Office 3406, Platinum Tower, Cluster I, Jumeirah Lake Towers, Dubai, United Arab Emirates 336137
              br
              a(href="tel:+971 4 421 9449") +971 4 421 9449
              br
              a(href="mailto:office@advaita.trade") office@advaita.trade
