.loader.is-visible(style="--progress-h: 0%")
  img(src="assets/images/logo-loader-grey.svg" class="loader__img loader__img--default")
  .loader__img--bar
    .loader__img--bar-wrapper
      .loader__img--bar-inner(style="background-image: url(assets/images/logo-loader-black.svg)")
