.news-content
  h1
    | United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce
  .news-content__date
    | 16 jan, 2023

  img(src='assets/images/about.jpg')

  h2
    | United’s order consists of 50 more Boeing 787 Dreamliners
  p
    | We would not normally order jets this far out,” United’s chief commercial officer, Andrew Nocella, told reporters Tuesday. “Production lines, which are now regularly plagued by supply-chain disruptions and delivery delays, are also increasingly sold out for the entire decade.
    | We would not normally order jets this far out,” United’s chief commercial officer, Andrew Nocella, told reporters Tuesday. “Production lines, which are now regularly plagued by supply-chain disruptions and delivery delays, are also increasingly sold out for the entire decade.
  ul
    li The Chicago-based airline is also buying 60 Airbus
    li United on Tuesday announced a revamp
    li Delivery delays have left airlines

  img(src='assets/images/about.jpg')

  h2
    | United’s order consists of 50 more Boeing 787 Dreamliners

  ol
    li The Chicago-based airline is also buying 60 Airbus
    li United on Tuesday announced a revamp
    li Delivery delays have left airlines

  p
    | We would not normally order jets this far out,” United’s chief commercial officer, Andrew Nocella, told reporters Tuesday. “Production lines, which are now regularly plagued by supply-chain disruptions and delivery delays, are also increasingly sold out for the entire decade.
    | We would not normally order jets this far out,” United’s chief commercial officer, Andrew Nocella, told reporters Tuesday. “Production lines, which are now regularly plagued by supply-chain disruptions and delivery delays, are also increasingly sold out for the entire decade.


  +imageSlider()
