section.news-list
  .site-container
    h2.ui-intro-heading.news-list__heading.js-reveal-block News
    ul.news-list__list
      li.news-list__item
        +news-item({
          image: 'assets/images/ind.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/auto.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/auto.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/ind.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/ind.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/auto.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/auto.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
      li.news-list__item
        +news-item({
          image: 'assets/images/ind.jpg',
          alt: 'Image',
          date: '16 jan, 2023',
          title: 'United Airlines buys 110 additional Boeing, Airbus jets into the 2030s with delivery slots scarce'
        })
    +button("Show more")(class="ui-button--full-width ui-button--bordered news-list__show-more")
