+serviceDetailLayout()
  +set('heading')
    h2.service-detail__content-heading.ui-main-heading
      | Bulleted list
  +set('main')
    p
      | Our Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three Door-to-Door solutions. Our Rail Freight service is dependable, cost efficient and environmentally friendly
    ul
      li The Chicago-based airline is also buying 60 Airbus
      li United on Tuesday announced a revamp
      li Delivery delays have left airlines
