section.section
  .site-container
    ul.services-detail-list
      li.services-list-card
        h3.services-list-card__heading
          | Regular FCL (Full Container Load)
        p.services-list-card__text
          | An alternative solution to Sea and Air
      li.services-list-card
        h3.services-list-card__heading
          | Regular LCL (Less than Container Load)
        p.services-list-card__text
          | The solution to ensure supply chain stability
      li.services-list-card
        h3.services-list-card__heading
          | Blocktrain
        p.services-list-card__text
          | To secure capacity and lead times – with possibility to have dedicated train per customer
