section.section.service-numbers
  .site-container
    p.service-numbers__heading
      | Our Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three  Door-to-Door solutions
    ul.service-numbers__list
      li.service-numbers__item
        p
          | <18
        p
          | Days of transit time to connect Asia (Xi'an) to Europe (Duisburg)
      li.service-numbers__item
        p
          | 4,5
        p
          | Control towers in Europe and China
      li.service-numbers__item
        p
          | 100
        p
          | Days of transit time
      li.service-numbers__item
        p
          | 7
        p
          | Control towers in Europe and China


    .swiper.image-slider
      .image-slider__nav-btns
        button.image-slider__nav-btn.js-prev-slide
          +icon-mono("arrow-left")
        button.image-slider__nav-btn.js-next-slide
          +icon-mono("arrow-right")
      .swiper-wrapper
        .swiper-slide
          +imgLazy('assets/images/slider-image.jpg')
        .swiper-slide
          +imgLazy('assets/images/slider-image.jpg')
        .swiper-slide
          +imgLazy('assets/images/slider-image.jpg')
        .swiper-slide
          +imgLazy('assets/images/slider-image.jpg')
