+serviceDetailLayout()
  +set('heading')
    h2.service-detail__content-heading.ui-main-heading
      | Numbered list
  +set('main')
    p
      | Our Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three Door-to-Door solutions. Our Rail Freight service is dependable, cost efficient and environmentally friendly

    ol
      li The Chicago-based airline is also buying 60 Airbus
      li 120 it previously had on order with the European manufacturer
      li 50 of forthcoming

    p
      | Our Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three Door-to-Door solutions. Our Rail Freight service is dependable, cost efficient and environmentally friendlyOur Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three Door-to-Door solutions. Our Rail Freight service is dependable, cost efficient and environmentally friendlyOur Rail Freight service is dependable, cost efficient and environmentally friendly, and organized around three Door-to-Door solutions. Our Rail Freight service is dependable, cost efficient and environmentally friendly
