+serviceDetailLayout()(class="ui-section--variant--grey service-detail--quote")
  +set('heading')
    +user()
  +set('main')
    p
      | We would not normally order jets this far out,” United’s chief commercial officer, Andrew Nocella, told reporters Tuesday. “Production lines, which are now regularly plagued by supply-chain disruptions and delivery delays, are also increasingly sold out for the entire decade.
