.modal__container(data-target="modal")
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    .modal--is-success
      .modal__legend
        | Thanks for application
      .modal__text
        | We will contact you shortly
      +button("To main")(class="ui-button--outline modal--is-success--btn modal-close")
    .modal--is-default
      .modal__legend
        | Submit request
      .modal__text
        | We will contact you shortly
      +form()

.modal__container.modal__container--aside(data-target="news")
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    include ../../pages/news/modal
