section.section.about
  .site-container.js-reveal-block
    .about__heading-text
      p
        | With a dedicated team of professionals facilitating all aspects of international shipments, we offer a personalized approach to meet the bespoke needs of our clients
    .about__content
      .about__content-block.js-reveal-block
        p.about__content-heading
          | 800
        p.about__content-text
          | MT of silver bars from Kazakhstan to Europe and Hong Kong a year
      .about__content-block.js-reveal-block
        +imgLazy("assets/images/service_img.jpg")(class="about__content-img")
        p.about__content-image-text
          | Our expertise and experience allows us to provide detailed and accurate advice on the entire supply chain. Whether you are looking for in-house or outsourced services we create unique solutions at competitive prices for optimized results.
